.container-lines {
  text-align: center;
}

.line {
  width: 4px;
  margin: 10px auto;
  height: 50px;
  border-radius: 60px;
  background: linear-gradient(180deg, rgba(36, 44, 55, 0) 0%, #575d66 100%);
}

.img-bio img {
  border-radius: 100%;
  width: 100%;
  max-width: 180px;
  margin: 0 2.5rem;
  margin-bottom: 5rem;
  height: auto;
}

.text-bio {
  cursor: pointer;
  transition: transform 250ms;
  transition: 2s;
}

.custom-theme {
  background: #161b22 !important;
  border: 1px solid var(--purple-color) !important;
  border-radius: 10px !important;
}

@media (max-width: 425px) {
  .img-bio img {
    margin: 0 1rem;
  }
}