/* * {
  margin: 0;
} */

#app {
    font-family: Noto Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    width: 100%;
    border-bottom: 1px solid black;
}
nav a {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
nav a.router-link-exact-active {
    text-decoration: underline;
}
nav .menu {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
nav .menu-left a {
    font-weight: bold;
}
nav .menu-right {
    margin-left: auto;
}

.page, .page-wide {
    padding: 1rem;
    margin: auto;
}
.page {
    max-width: 50rem;
}
.page-wide {
    max-width: 80rem;
}

h1 {
    text-align: center;
}
h2 {
    margin-bottom: 0%;
}
h3 {
    margin: 0 0 0;
}
h4 {
    margin: 0 0 0;
}

a {
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    margin-top: 0;
}
ul {
    margin-top: 1%;
}
li {
    margin: 0 0 0.3rem;
}